### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
playerCount = len(purchase_data["SN"].unique())
playerCount_sn = pd.DataFrame({"Player Count": [playerCount]})
playerCount_sn

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
NumUniqueItems = len(purchase_data["Item ID"].unique())
AvgPrice = purchase_data["Price"].mean()
NumbPurchase = len(purchase_data["Item Name"])
TotalRev = purchase_data["Price"].sum()

Total = pd.DataFrame({"Number of Unique Items": [NumUniqueItems],"Average Price": [AvgPrice],
                      "Number of Purchases": [NumbPurchase],"Total Revenue": [TotalRev]})
Total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
dupe = purchase_data.drop_duplicates(subset="SN", keep="first") #uploading data and dropping any duplicates in subset SN


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
TotalGender = dupe["Gender"].count() # 
MaleGender = dupe["Gender"].value_counts()['Male']
FemaleGender = dupe["Gender"].value_counts()['Female']
NonGender = TotalGender - MaleGender - FemaleGender
#calucations/code for finding the percentage of Female, male and non gender specific
MalePercentage = (MaleGender / TotalGender) * 100
FemalePercentage = (FemaleGender / TotalGender) * 100
NonPercentage = (NonGender / TotalGender) * 100
#Creating the data frame for categories
Gender_df = pd.DataFrame({"": ['Male', 'Female', 'Other/NAN'],
                            "Percentage of Players": [MalePercentage, FemalePercentage, NonPercentage],
                            "Total Count": [MaleGender, FemaleGender, NonGender]})

Gender_df["Percentage of Players"] = Gender_df["Percentage of Players"].map("{:.2f}%".format)
Gender_df = Gender_df.set_index('')
Gender_df

          Percentage of Players  Total Count

Male                     84.03%          484
Female                   14.06%           81
Other/NAN                 1.91%           11

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
grouping_df = purchase_data.groupby(["Gender"])

purchaseCount = grouping_df["SN"].count()
purchasePrice = grouping_df["Price"].mean()
purchaseValue = grouping_df["Price"].sum()

duplicate = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dupe = duplicate.groupby(["Gender"])

purchaseNorm = (grouping_df["Price"].sum() / grouped_dupe["SN"].count())

Purch_Anal_Gen = pd.DataFrame({"Purchase Count": purchaseCount,
                              "Average Purchase Price": purchasePrice,
                              "Total Purchase Value": purchaseValue,
                              "Avg Total Purchase per Person": purchaseNorm})
# Create a data frame with infnormation coded above
Purch_Anal_Gen["Average Purchase Price"] = Purch_Anal_Gen["Average Purchase Price"].map("${:.2f}".format)
Purch_Anal_Gen["Total Purchase Value"] = Purch_Anal_Gen["Total Purchase Value"].map("${:.2f}".format)
Purch_Anal_Gen["Normalized Totals"] = Purch_Anal_Gen["Avg Total Purchase per Person"].map("${:.2f}".format)
Purch_Anal_Gen = Purch_Anal_Gen[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
Purch_Anal_Gen

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,4.468395
Male,652,$3.02,$1967.64,4.065372
Other / Non-Disclosed,15,$3.35,$50.19,4.562727

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
bins = [0,10,15,20,25,30,35,40,200]
binAges = ['< 10', '10 - 14', '15 - 19', 
          '20 - 24', '25 - 29', '30 - 34', '35 - 39', '40+']

binning_df = dupe.copy()
binning_df["Age Groups"] = pd.cut(binning_df["Age"], bins, labels=binAges)
grp_bin = binning_df.groupby(["Age Groups"])

binnerCount = grp_bin["SN"].count()
totalCount = purchase_data["SN"].count()
percentage = (binnerCount / totalCount) * 100
percentage

Age_Percentage = pd.DataFrame({"Total Count": binnerCount,
                         "Percentage of Players": percentage})
Age_Percentage.head(20)

            Total Count  Percentage of Players
Age Groups
< 10                 24               3.076923
10 - 14              41               5.256410
15 - 19             150              19.230769
20 - 24             232              29.743590
25 - 29              59               7.564103
30 - 34              37               4.743590
35 - 39              26               3.333333
40+                   7               0.897436

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
groupedScreenName = purchase_data.groupby(["SN"])
groupedScreenNameCount = groupedScreenName["Item ID"].count()
groupedScreenNameTotal = groupedScreenName["Price"].sum()
groupedScreenNameAvg = (groupedScreenNameTotal / groupedScreenNameCount)

SN_Demograph = pd.DataFrame({"Purchase Count": groupedScreenNameCount,
                         "Average Purchase Price": groupedScreenNameAvg,
                         "Total Purchase Value": groupedScreenNameTotal})

SN_Demograph = SN_Demograph.sort_values("Total Purchase Value", ascending=False) 
SN_Demograph["Average Purchase Price"] = SN_Demograph["Average Purchase Price"].map("${:.2f}".format)
SN_Demograph["Total Purchase Value"] = SN_Demograph["Total Purchase Value"].map("${:.2f}".format)
SN_Demograph = SN_Demograph[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
SN_Demograph.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# create new DF with column headers info. Use groupby function to group item ID & name. Calculate the number of times each item was purchased. Sum the purchase value for each item. Divide this value bby count item, create DF and sort in descending order.
itemS = purchase_data[["Item ID", "Item Name", "Price"]]
itemStats = itemS.groupby(["Item ID","Item Name"])
purchaseCount = itemStats["Price"].count()
purchaseValue = (itemStats["Price"].sum()) 
itemPrice = purchaseValue/purchaseCount
popItems = pd.DataFrame({"Purchase Count": purchaseCount, 
                                   "Item Price": itemPrice,
                                   "Total Purchase Value":purchaseValue})

popularFormat = popItems.sort_values(["Purchase Count"], 
                                                   ascending=False).head()

popularFormat.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [15]:
# find highest total purchase value by extracting data from above and sorting. 
popularFormat = popItems.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popularFormat

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [ ]:
# observable trends
# 1 there are more male players than female and non gender specific players.
# 2 The majority of all purchases are made by ages 20-24
# 3 The average total purchase price for females is higher than that of their male counter parts.